body{
    background-color: rgb(80, 199, 109);
}

table{
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse ;
}

td,th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}

th{
    background-color: rgb(255, 217, 0);
    color: black;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
